<li class="category">DEVELOPMENT</li>
<li><a href="{{ site.javascript }}" class="otherLinkColour">Web (Client Side)</a>
    <ul>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.javascript }}user-guide.html" class="otherLinkColour">User Guide</a>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.javascript-api }}CodeParser.html" class="otherLinkColour">CodeParser for code parsing</a></li>
                <li><a href="{{ site.javascript-api }}LicenseControl.html" class="otherLinkColour">License Control</a></li>
                <li><a href="{{ site.javascript-api }}InitializeEngine.html" class="otherLinkColour">Initialization Control</a></li>
                <li><a href="{{ site.javascript-api-interface }}index.html" class="otherLinkColour">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.javascript-api-interface }}BasicPersonalInfo.html" class="otherLinkColour">BasicPersonalInfo</a></li>
                        <li><a href="{{ site.javascript-api-interface }}CodeParserException.html" class="otherLinkColour">CodeParserException</a></li>
                        <li><a href="{{ site.javascript-api-interface }}ParseResult.html" class="otherLinkColour">ParseResult</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.javascript-api-enum }}index.html" class="otherLinkColour">Enums</a>
                    <ul>
                        <li><a href="{{ site.javascript-api-enum }}EnumCodeFormat.html" class="otherLinkColour">EnumCodeFormat</a></li>
                        <li><a href="{{ site.javascript-api-enum }}EnumErrorCode.html" class="otherLinkColour">EnumErrorCode</a></li>
                        <li><a href="{{ site.javascript-api-enum }}EnumResultInfoType.html" class="otherLinkColour">EnumResultInfoType</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</li>
<li>
    <a class="otherLinkColour">Server / Desktop</a>
    <ul>
        <li><a class="otherLinkColour ">C++</a>
            <ul>
                <li><a href="{{ site.cpp }}user-guide.html" class="otherLinkColour">User Guide</a></li>
                <li><a class="otherLinkColour">API Reference</a>
                    <ul>
                        <li><a class="otherLinkColour">Classes</a>
                            <ul>
                                <li><a href="{{ site.cpp_class }}code-parser.html" class="otherLinkColour">CCodeParser</a></li>
                                <li><a href="{{ site.cpp_class }}license-manager.html" class="otherLinkColour">CLicenseManager</a></li>
                                <li><a href="{{ site.cpp_class }}parsed-result-item.html" class="otherLinkColour">CParsedResultItem</a></li>
                            </ul>
                        </li>
                        <li><a class="otherLinkColour">Enumerations</a>
                            <ul>
                                <li><a href="{{ site.cpp_enum }}error-code.html" class="otherLinkColour">ErrorCode</a></li>
                                <li><a href="{{ site.cpp_enum }}mapping-status.html" class="otherLinkColour">MappingStatus</a></li>
                                <li><a href="{{ site.cpp_enum }}validation-status.html" class="otherLinkColour">ValidationStatus</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ site.cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
                    <ul >
                        <li ><a href="{{ site.cpp_release_notes }}cpp-2.html" class="otherLinkColour">Version 2.x</a></li>
                    </ul>
                </li>
            </ul>        
        </li>
    </ul>
</li>