<li><a href="{{ site.code_types }}" class="otherLinkColour">Supported Code Types</a>
    <ul>
        <li><a href="{{ site.code_types }}mrtd.html" class="otherLinkColour">Machine Readable Travel Documents</a></li>
        <li><a href="{{ site.code_types }}aamva-dl-id.html" class="otherLinkColour">North America DL/ID</a></li>
        <li><a href="{{ site.code_types }}sa-dl.html" class="otherLinkColour">South Africa Driver License</a></li>
        <li><a href="{{ site.code_types }}aadhaar.html" class="otherLinkColour">Aadhaar</a></li>
        <li><a href="{{ site.code_types }}vin.html" class="otherLinkColour">Vehicle Identification Number</a></li>
    </ul>
</li>