<li lang="dotnet" class="category">DEVELOPMENT</li>
<li lang="dotnet"><a class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.dcp_dotnet_api }}code-parser-module.html"  class="otherLinkColour">CodeParserModule</a></li>
                <li><a href="{{ site.dcp_dotnet_api }}parsed-result.html"  class="otherLinkColour">ParsedResult</a></li>
                <li><a href="{{ site.dcp_dotnet_api }}parsed-result-item.html"  class="otherLinkColour">ParsedResultItem</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.dcv_enumerations }}core/error-code.html?lang=dotnet"  class="otherLinkColour">EnumErrorCode</a></li>
                <li><a href="{{ site.dcv_enumerations }}code-parser/mapping-status.html?lang=dotnet"  class="otherLinkColour">EnumMappingStatus</a></li>
                <li><a href="{{ site.dcv_enumerations }}code-parser/validation-status.html?lang=dotnet"  class="otherLinkColour">EnumValidationStatus</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="dotnet"><a href="{{ site.dcp_dotnet_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul >
        <li ><a href="{{ site.dcp_dotnet_release_notes }}dotnet-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
