<li lang="cplusplus" class="category">DEVELOPMENT</li>
<li lang="cplusplus"><a href="{{ site.cpp }}user-guide/getting-started.html" class="otherLinkColour">User Guide</a></li>
<li lang="cplusplus"><a class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.cpp_api }}code-parser.html" class="otherLinkColour">CCodeParser</a></li>
                <li><a href="{{ site.cpp_api }}code-parser-module.html" class="otherLinkColour">CCodeParserModule</a></li>
                <li><a href="{{ site.dcv_cpp_api }}license/license-manager.html" class="otherLinkColour">CLicenseManager</a></li>
                <li><a href="{{ site.cpp_api }}parsed-result-item.html" class="otherLinkColour">CParsedResultItem</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.dcv_enumerations }}core/error-code.html?lang=cpp" class="otherLinkColour">ErrorCode</a></li>
                <li><a href="{{ site.dcv_enumerations }}code-parser/mapping-status.html?lang=cpp" class="otherLinkColour">MappingStatus</a></li>
                <li><a href="{{ site.dcv_enumerations }}code-parser/validation-status.html?lang=cpp" class="otherLinkColour">ValidationStatus</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="cplusplus"><a href="{{ site.cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul >
        <li ><a href="{{ site.cpp_release_notes }}cpp-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
