<li lang="python" class="category">DEVELOPMENT</li>
<li lang="python"><a href="{{ site.dcp_python_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.dcp_python_api }}code-parser-module.html"  class="otherLinkColour">CodeParserModule</a></li>
                <li><a href="{{ site.dcp_python_api }}parsed-result.html"  class="otherLinkColour">ParsedResult</a></li>
                <li><a href="{{ site.dcp_python_api }}parsed-result-item.html"  class="otherLinkColour">ParsedResultItem</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.dcv_enumerations }}core/error-code.html?lang=python"  class="otherLinkColour">EnumErrorCode</a></li>
                <li><a href="{{ site.dcv_enumerations }}code-parser/mapping-status.html?lang=python"  class="otherLinkColour">EnumMappingStatus</a></li>
                <li><a href="{{ site.dcv_enumerations }}code-parser/validation-status.html?lang=python"  class="otherLinkColour">EnumValidationStatus</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="python"><a href="{{ site.dcp_python_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul >
        <li ><a href="{{ site.dcp_python_release_notes }}python-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
